<!DOCTYPE html>
<html>
  <head>
    <title>MissionaryBox</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= logo %>
  <%= pretty_time(Time.now) %>
  <img src="application/images/123.jpg" />
  <p>hey there</p>
  <%= link_to_cart %>
    <%= yield %>
  </body>
</html>
